/*tmp
/build
/.nb-gradle/
.classpath
.project
.settings/
bin/
/.gradle
/RiippuvuuksienInjektointi1/.nb-gradle/
/RiippuvuuksienInjektointi1/build/
/NhlStatistics1/.nb-gradle/
/NhlStatistics1/build/
/.vscode
